MyTubeWebClient/src/META-INF/wsdl/localhost_4848/MyTubeFinal/MyTubeWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mytube/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mytube/" name="MyTubeWS">
<types>
<xsd:schema>
<xsd:import namespace="http://mytube/" schemaLocation="http://localhost:4848/MyTubeFinal/MyTubeWS?xsd=1" />
</xsd:schema>
</types>
<message name="uploadVideo">
<part name="parameters" element="tns:uploadVideo" />
</message>
<message name="uploadVideoResponse">
<part name="parameters" element="tns:uploadVideoResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="downloadVideo">
<part name="parameters" element="tns:downloadVideo" />
</message>
<message name="downloadVideoResponse">
<part name="parameters" element="tns:downloadVideoResponse" />
</message>
<portType name="MyTubeWS">
<operation name="uploadVideo">
<input wsam:Action="http://mytube/MyTubeWS/uploadVideoRequest" message="tns:uploadVideo" />
<output wsam:Action="http://mytube/MyTubeWS/uploadVideoResponse" message="tns:uploadVideoResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://mytube/MyTubeWS/helloRequest" message="tns:hello" />
<output wsam:Action="http://mytube/MyTubeWS/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="downloadVideo">
<input wsam:Action="http://mytube/MyTubeWS/downloadVideoRequest" message="tns:downloadVideo" />
<output wsam:Action="http://mytube/MyTubeWS/downloadVideoResponse" message="tns:downloadVideoResponse" />
</operation>
</portType>
<binding name="MyTubeWSPortBinding" type="tns:MyTubeWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="uploadVideo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="downloadVideo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MyTubeWS">
<port name="MyTubeWSPort" binding="tns:MyTubeWSPortBinding">
<soap:address location="http://localhost:4848/MyTubeFinal/MyTubeWS" />
</port>
</service>
</definitions>